{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Placemark : Organise and manage your heritage sites </p>
    <p class="box">
      <i class="fas fa-building fa-10x" style="color: #CEBF89"></i>
      <i class="fas fa-plus fa-4x" style="color: #565148"></i>
      <i class="fas fa-tree fa-10x" style="color: #004D44"></i>
      <i class="fas fa-tree fa-10x" style="color: #004D44"></i>
      <i class="fas fa-plus fa-4x" style="color:#565148 "></i>
      <i class="fas fa-building-columns fa-10x" style="color: purple"></i>
    </p>
  </div>
</section>
