{{> welcome-menu}}

<div class="section">
<div class="columns is-vcentered">
  <div class="column has-text-centered">
   <h1> Sign up or Log in... </h1>
  </div>
<div class="column">
    <img src="/images/ireland.png">
</div>
</div>
</div>