{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
    <p class="title ">
      Playmark : Organise and manage your heritage sites </p>
    <p class="box">
      <i class="fas fa-music fa-10x" style="color:darkorange"></i>
      <i class="fas fa-plus fa-4x" style="color:deepskyblue"></i>
      <i class="fas fa-headphones fa-10x" style="color:gold"></i>
    </p>
  </div>
</section>
