<form class="box" action="/site/{{site._id}}/addplace" method="POST">
  <label>Enter Place Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter Name" name="name">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Category" name="category">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Description" name="description">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter Weather" name="weather">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Upload Images" name="images">
      </div>    
  <button class="button is-primary">Add Place</button>
</form>
