<form action="/dashboard/addsite" method="POST">
  <div class="field">
    <label class="label">Site Title</label> <input class="input" type="text" placeholder="Enter site title" name="title">
  </div>
  <button class="button is-link">Add Site</button>
</form>
