<div class="title p-3 is-flex">
  <i style="font-size: 48px; color: rgb(0, 77, 68);" class="fa-solid fa-tree-city"></i>
  <div class="ml-4">Placemarks</div>
  <div class="ml-1">points of interest</div>
</div>
