<!DOCTYPE html>
<html lang="en-IE">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {{!-- <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script> --}}
    <script src="https://kit.fontawesome.com/71f0fd1ae7.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      {{{content}}}
    </div>
  </body>
</html>
